@using System.Web.Mvc.Html
@using EmpWebSystem.Models
@using EmpWebSystem.ViewModel
@model EmpWebSystem.ViewModel.DatabaseViewModel
@{
    ViewBag.Title = "Department";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Label("Department")
    @Html.TextBox("Enter New Department Name","Enter New Department Name", new{ @class = "form-control" })
}