@using EmpWebSystem.Models
@model EmpWebSystem.ViewModel.DatabaseViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee List</h2>

<table class="table">
    <tr>
        <td>Edit Information</td>
        <td>Department</td>
        <td>Employee ID</td>
        <td>Employee Name</td>
        <td>Employee Salary</td>
    </tr>

    @foreach (var department in Model.RootModel.Database.Departments)
    {
        foreach (var employee in department.Employees)
        {
            {
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Index", "Employee",
                            new {department.Did, employee.Eid},null)
                    </td>
                    <td>@department.Name</td>
                    <td>@employee.Eid</td>
                    <td>@employee.Name</td>
                    <td>@employee.Salary</td>
                </tr>
            }
        }
    }
</table>