@using EmpWebSystem.Models
@model EmpWebSystem.ViewModel.DatabaseViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee List</h2>

<table class= "table">
    <tr>
        <th>Edit</th>
        <th>Department</th>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Salary </th>
    </tr>

    @for (int j = 0; j < Model.DatabaseList.DataBase.Departments.Length; j++)
    {
        for (int i = 0; i < Model.DatabaseList.DataBase.Departments[j].Employees.Length; i++)
        {
<tr>
    <td>
        @Html.ActionLink("Edit", "EmpPage", "Home",
        new
        {
            dept = j+1,
            id = i,
        },
        null)
    </td>
    <td>@Model.DatabaseList.DataBase.Departments[j].Name</td>
    <td>@Model.DatabaseList.DataBase.Departments[j].Employees[i].id</td>
    <td>@Model.DatabaseList.DataBase.Departments[j].Employees[i].Name</td>
    <td>@Model.DatabaseList.DataBase.Departments[j].Employees[i].Salary</td>
</tr>
        }
    }
</table>